* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    background-color: #13121d;
}

img {
    border-radius: 20px;
    border: solid 1px #000;
    height: 80vh; 
}

h1, h2 {
    font-weight: 400;
    color: #fafafa;

}

h3 {
    color: #f0da12;
}

p, li {
    color: #fafafa;
    margin: 0 20vw;
}
em, strong, b{
    color: #f02d0a;
}
.question {
    color: #06b815;
}
ul {
    list-style-type: none;
}

button {
    position: absolute;
    margin: 25vh 45vw;
    display: flex;
    padding: 20px 50px;
    font-size: 1.5rem;
    cursor: pointer;
    background: transparent;
    position: relative;
    transition: all .2s;
    overflow: hidden;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0px -0px 0px 0px #8f40f880, 0px 0px 0px 0px #27c8ff80;
}

button::after {
    content: '';
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    z-index: -1;
    transition: all .5s;
}

button:hover::after {
    transform: rotate(150deg);
}
  
button:hover {
    transform: translate(0,-6px);
    box-shadow: 10px -10px 25px 0px #8f40f840, -10px 10px 25px 0px #27c8ff40;
}

.a-button {
    color: #8f40f8;
    text-decoration: none;
    display: block;
}


/* Parties de l'exposé */
.wrapper {
    height: 10vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.typing-demo-13 {
    color: #f0da12;
    width: 13ch;
    animation: typing 2s steps(13) infinite, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}
.typing-demo-18 {
    color: #f0da12;
    width: 18ch;
    animation: typing 3s steps(18) infinite, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}
.typing-demo-20 {
    color: #f0da12;
    width: 20ch;
    animation: typing 3.5s steps(20) infinite, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}
.typing-demo-22 {
    color: #f0da12;
    width: 22ch;
    animation: typing 3.8s steps(22) infinite, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}
.typing-demo-24 {
    color: #f0da12;
    width: 24ch;
    animation: typing 4s steps(24) infinite, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}
.typing-demo-26 {
    color: #f0da12;
    width: 26ch;
    animation: typing 4.3s steps(26) infinite, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
} 
.typing-demo-37 {
    color: #f0da12;
    width: 37ch;
    animation: typing 6s steps(37) infinite, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}
.typing-demo-38 {
    color: #f0da12;
    width: 38ch;
    animation: typing 6.2s steps(38) infinite, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}
@keyframes typing {
    from {
    width: 0
    }
}
     
@keyframes blink {
    50% {
    border-color: transparent
    }
}
/* FIN Parties de l'exposé */
