* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    background-color: #13121d;
}

img {
    border-radius: 20px;
    border: solid 1px #000;
    height: 80vh; 
}

h1, h2 {
    font-weight: 400;
    color: #fafafa;

}

h3 {
    color: #f0da12;
}

p, li {
    color: #fafafa;
    margin: 0 20vw;
}
em, strong, b{
    color: #f02d0a;
}
.question {
    color: #06b815;
    text-weight: 800;
}
ul {
    list-style-type: none;
}

.a-qcm {
    color: #13121d;
    text-decoration: none;
}
button {
    background-color: #f0da12;
    width: 15vw;
    height: 7vh;
    margin: 0 40vw;
    border-radius: 10px;
    border: none;
    font-size: 3vh;
}

button:hover {
    transition: ease-in-out 250ms;
    background-color: #0d9ee0;
    cursor: pointer;
}

.screen-jump {
    height: 60vh;
}
p.affichage {
    display: none;
}